.payment-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
    max-width: 1200px;
    margin: auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: 3px solid black;
    justify-content: center;
    text-align: center;
    max-width: 1024px; 
}


.payment-page-container {
    display: block;
    /* justify-self: center; */
    margin: auto;
    /* justify-content: center; */
    /* text-align: center; */
    padding: 10px 0px;
    /* border: 3px solid orangered; */
    width: 390px;
    min-height: 544px;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
    /* white-space: nowrap; */
    
    /* background-image: url('./images/1O1-tosca.jpg'); */
    /* background-position: top; */
    /* background-repeat: no-repeat; */
    /* background-size: 100%; */
    
    background-color: rgb(235, 235, 235);
      
    /* border: 3px solid blue; */

    position: relative;
}

.payment-cart-location-container {
    /* width: 100%; */
    border: 1px solid white;
    padding: 0px 2px;
    margin: 10px 6px;
    border-radius: 5px;
    background-color: white;
}

.payment-page-location-room {
    display: flex;
    align-items: center;
    /* border: 3px solid blue; */
    padding: 5px 5px;
}

.payment-page-location-room label {
    padding: 10px 0px;
    /* margin: 10px 0; */
    font-size: 12px;
    font-weight: 700;
}

.payment-page-location-room input {
    width: 65%;
    /* max-width: 1200px; */
    padding: 10px;
    margin: 5px auto;
    border: 1px solid black;
    border-radius: 20px;
}











.payment-cart-recap-container{
    /* width: 100%; */
    border: 1px solid white;
    padding: 0px 2px;
    margin: 10px 6px;
    border-radius: 5px;
    background-color: white;

}

.payment-cart-recap-container h3 {
    
    text-align: left;
    margin: 3px 5px;
    font-weight: 700;
    font-size: 14px;
      
}

.payment-cart-item {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
  
    /* border: 3px solid green; */
    margin: 7px 0px;
  }

  .payment-cart-item-image {
    width: 50px;
    height: auto;
    padding: 0px 7px;
    border-radius: 10px;
  }
  
  .payment-cart-item-description-container {
    /* border: 3px solid blueviolet; */
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .payment-cart-item-description-container h5 {
      font-size: 11px;
      margin: 5px 5px;
  }

  .payment-cart-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px;
  }

  .payment-cart-price p{
    font-size: 11px;
    font-weight: 700;
    margin: auto;
    color: orangered;
  }

  .payment-cart-quantity {
      font-size: 9px;
      color: grey;
  }



  .total-payment-cart-and-payment-method-container {
    position: absolute; /* Positions relative to nearest positioned ancestor (parent-container here) */
    bottom: 0; /* Anchors the footer to the bottom */
    left: 0; /* Stretches the footer from the left edge */
    right: 0; /* Stretches across to the right edge of the parent container */
    width: 100%; /* Ensures the footer stretches across the width of the screen */
    background-color: #fff; /* Gives the footer a distinct background, change color as needed */
    border-top: 1px solid #ccc; /* Adds a subtle border on top of the footer */
    padding: 10px 0px; /* Adds padding inside the footer for spacing */
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1); /* Optional: adds shadow for better visibility */
    z-index: 1000; /* Ensures the footer is above other content */

    display: block;
    justify-content: space-between;
    align-items: center;
}

.payment-method-container {
    display: block;

}

.payment-method-details-container {
    display: flex;
    
    justify-content: space-between;
    align-items: center;

    /* margin: 0px 0px 8px 0; */
}


.payment-method-details-container span, button {
    margin: 0px 10px;
}

.payment-method-details-container span{
    padding: 2px 0px;
    font-size: 10px;
    background-color: white;
    border: white 1px solid;
    /* color: white; */
    font-weight: 600;
    cursor: pointer;

    margin: 0px 10px;
}


.payment-method-details-container button  {
    /* border-radius: 50px; */
    padding: 2px 20px;
    font-size: 10px;
    background-color: white;
    border: white 1px solid;
    /* color: white; */
    font-weight: 600;
    cursor: pointer;
}


.payment-method-options-container {
    display: flex;
    flex-direction: column;
    
    align-items: flex-end;

    /* margin: 0px 0px 8px 0; */
}

ul {
    list-style-type: none; /* Removes bullets from the list */
    padding: 0;
    text-align: center; /* Centers the list items */
    margin: 5px 20px 5px 0px;

    /* overflow: hidden; Hides any overflow content during transition */
    /* max-height: 0; */
    transition: max-height 3s ease-in-out; /* Smooth transition for the max-height property */
}

ul.expanded {
    max-height: 500px; /* Maximum height when expanded - adjust based on content */
}

li {
    cursor: pointer; /* Indicates clickable items */
    padding: 8px 0px;
    background-color: white;
    /* margin: 2px 5px; */
    width: 100%; /* Ensures that list items expand to full container width */
    font-size: 10px;
}


.total-payment-cart-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .total-payment-cart {
    font-size: 9px;
    margin: 0px 10px;
  }

  .total-payment-cart-price {
      font-size: 12px;
      font-weight: 600;
      

  }

  .total-payment-cart-pay-button {
      border-radius: 50px;
      padding: 8px 20px;
      font-size: 10px;
      background-color: orange;
      border: orange 1px solid;
      color: white;
      font-weight: 500;
      cursor: pointer;

      margin: 0px 10px;
  }

  .total-payment-cart-pay-button:hover {
      background-color: rgb(218, 120, 0);
  }

  .total-payment-cart-pay-button:hover {
    background-color: rgb(168, 94, 2);
}




.qris-code {
    height: 200px;
}












/* .payment-page input {
    width: 30%;
    max-width: 1200px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 20px;
  }
  

.payment-page-labels {
    width: 100%;
    border: 1px solid black;
    max-width: 1200px;
    justify-content: center;
    text-align: center;
    align-items: center;   
} */
  
/* .confirm-payment-button, .back-to-cart-button { */
    /* Styles for buttons */
  /* } */
  
  /* Add styles for the .payment-page container if necessary */